@import 'https://fonts.googleapis.com/css?family=PT+Mono|Roboto';

.controls {
	margin: 50px;
	text-align: center;
}

h1 {
	text-align: center;
	font-family: 'PT Mono', monospace;
	font-size: 72px;
	text-transform: uppercase;
}

button {
	margin: 20px;
	padding: 15px 25px;
	border: 1px solid #3bafda;
	border-radius: 10px;
	width: 300px;
	background: #3bafda;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 36px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #fff;
}

button:active {
	box-shadow: inset 0 0 10px #000000;
}

button:hover {
	background: #4fc1e9;
	cursor: pointer;
}

button.disabled {
	pointer-events: none;
	cursor: default;
	background: #aab2bd;
	border-color: #aab2bd;
}

button.active {
	box-shadow: inset 0 0 10px #000000;
	color: #eee;
}

button:focus {
  outline: none;
}
